<!DOCTYPE html>
<html>
<head>
<title>Fraud Detection</title>
</head>
<body><center>
<h2> Fraud Detection </h2>
<form action = "/ask" method = "post" >
<table>
<tr>
<td>
primaryAccountNumber
</td>
<td>
<input type='text' name='a' value='4759779219052460'/> 
</td>
<tr>
<td>
deviceId
</td>
<td>

<input type='text' name='b' value='26247'/> 
</td>
</tr>
<tr>
<td>
issuerId
</td>
<td>
<input type='text' name='c' value='760432'/> 
</td>
<tr>
<td>
DebitCards Number
</td>
<td>
<input type='text' name='d' value='4923376479207120'/> 
</td>
<tr>
<td>
ZipCode
</td>
<td>
<input type='text' name='e' value='94401'/> 
</td>
<tr>
<td>
Amount
</td>
<td>
<input type='text' name='f' value='2723'/> 
</td>
<tr>
<td>
CardExpiryDate
</td>
<td>
<input type='text' name='g' value='202003'/> 
</td>
<tr>
<td>
CardCvv2Value
</td>
<td>
<input type='text' name='h' value='853'/> 
</td>
<tr>
<td>
TransactionId
</td>
<td>
<input type='text' name='i' value='401905091241655'/> 
</td>
<tr>
<td>
Pan Number
</td>
<td>
<input type='text' name='j' value='4396147122103180'/> 
</td>
<tr>
<td>
CompanyId
</td>
<td>
<input type='text' name='k' value='14'/> 
</td>
<tr>
<td>
BankId
</td>
<td>
<input type='text' name='l' value='123457'/> 
</td>
<tr>
<td>
TransactionLimits
</td>
<td>
<input type='text' name='m' value='29472'/> 
</td>
<tr>
<td>
companyProfile.defaultCurrencyIsoCode
</td>
<td>
<input type='text' name='n' value='991'/> 
</td>
<tr>
<td>
companyProfile.enterpriseId
</td>
<td>
<input type='text' name='o' value='5'/> 
</td>
<tr>
<td>
companyProfile.industryCode
</td>
<td>
<input type='text' name='p' value='23'/> 
</td>
<tr>
<td>
companyProfile.businessRegistrationNumber
</td>
<td>
<input type='text' name='q' value='970579753'/> 
</td>
<tr>
<td>
companyProfile.bankAccountNumber
</td>
<td>
<input type='text' name='r' value='1'/> 
</td>
<tr>
<td>
companyProfile.taxId
</td>
<td>
<input type='text' name='s' value='863926198'/> 
</td>
<tr>
<td>
CompanyProfile Active</td>
<td>
<input type='text' name='t' value='1'/> 
</td>
</tr>
<tr><td align=center> <input type='submit' value='Submit'>
</td></tr>
</table>
</form></center>
</body>
</html>
